<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1200" />
    <!-- shrink-to-fit=no,initial-scale=1 add in content for zoomed content  -->
    <title>LB Candidate Profile</title>
    <!-- Google Analytics -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );

      // ga("create", "UA-221592716-10", "auto");
      ga("create", "UA-221592716-1", "auto");
    </script>
    <!-- End Google Analytics -->
    <!-- Bootstrap core CSS -->

    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/CandidateProfile.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/candidateProfileNew.css" />
    <link href="css/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/5.0.0/introjs.min.css"
      integrity="sha512-B5BOsh3/c3Lg0FOPf3k+DASjK21v5SpLy7IlLg3fdGnbilmT1gR2QzELRp0gvCDSG+bptATmQDNtwHyLQxnKzg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!--Complete Page-->
    <div class="container-main">
      <% if (userData){ %>
      <script>
        var dimensionValue1 = "<%= userData %>";
        var dimensionValue2 = "<%= company %>";
        var dimensionValue3 = "<%= tempid%>";
        var dimensionValue4 = "<%= cohort%>";

        ga("set", "dimension1", dimensionValue1);
        ga("set", "dimension2", dimensionValue2);
        ga("set", "dimension3", dimensionValue3);
        ga("set", "dimension4", dimensionValue4);

        ga("send", "pageview");
      </script>
      <% } %>
      <!--Main Content-->
      <div
        id="main-content"
        class="container-fluid mx-auto justify-content-center"
      >
        <!--Navigation-->
        <div class="row navigation">
          <div class="col-lg-2 navigation-items active">
            <span class="nav-item">Overview</span>
          </div>
          <div class="col-lg-2 navigation-items">
            <span class="nav-item"
              ><a href="#heatmap-id">Litmus Heatmap</a></span
            >
          </div>
          <div class="col-lg-2 navigation-items">
            <span class="nav-item"
              ><a href="#screening-id">Screening Questions</a></span
            >
          </div>
          <div class="col-lg-2 navigation-items">
            <span class="nav-item"
              ><a href="#interaction-id">Interaction History</a></span
            >
          </div>
          <div class="col-lg-2 navigation-items">
            <span class="nav-item"><a href="#resume-id">Resume</a></span>
          </div>
        </div>
        <%- include('../partials/scrollup.ejs') %>
        <!--Dashboard-->
        <div class="row overview">
          <div id="accordionCandidateWrapper">
            <div class="row overview-details">
              <div class="col-lg-1 p-0 overview-info-shortcuts">
                <div class="display-picture">
                  <img
                    src="images/new-candidate-profile-display.png"
                    alt="User Image"
                  />
                </div>
              </div>
              <div class="col-lg-10 p-0 overview-info-details">
                <h1 class="candidate-name">
                  <%= profileData.generalInfo.firstName%> <%=
                  profileData.generalInfo.lastName%>
                </h1>
                <div class="row candidate-contact mx-0">
                  <div class="col-lg-2 p-0 candidate-phone">
                    <img
                      src="images/smartphone-icon.svg"
                      alt="Phone Icon"
                    /><span><%= profileData.generalInfo.phone%></span>
                  </div>
                  <div class="col-lg-3 ml-2 p-0 candidate-mail">
                    <img src="images/email-icon.svg" alt="Mail Icon" /><span
                      ><%= profileData.generalInfo.email%></span
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-1 p-0 social-links">
                <span class="social-links-link--linkedIn">
                  <img src="images/linkedin-icon.svg" alt="LinkedIn Icon" />
                </span>
                <span class="social-links-link--facebook">
                  <img src="images/facebook-icon.svg" alt="Facebook Icon" />
                </span>
                <span class="social-links-link--twitter">
                  <img src="images/twitter-icon.svg" alt="Twitter Icon" />
                </span>
              </div>
            </div>
            <div class="row overview-actions">
              <div class="overview-actions-item">
                <img src="images/comment-icon.svg" alt="Comment Icon" />

                <a
                  onmouseenter="gaButtons('Add Note')"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover"
                  data-bs-placement="top"
                  title="Add Note"
                  data-bs-content="It allows the recruiter to add notes about the candidate."
                  ><span class="overview-actions-btn">Add Note</span></a
                >
              </div>
              <div class="overview-actions-item">
                <img src="images/invitation-icon.svg" alt="Invite Icon" /><a
                  onmouseenter="gaButtons('Set Up Interview')"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover"
                  data-bs-placement="bottom"
                  title="Set Up Interview"
                  data-bs-content="You can schedule an interview by clicking on this."
                  ><span class="overview-actions-btn">Set Up Interview</span></a
                >
              </div>
              <div class="overview-actions-item">
                <img src="images/share-icon.svg" alt="Share Icon" /><a
                  onmouseenter="gaButtons('Share Profile')"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover"
                  data-bs-placement="bottom"
                  title="Share Profile"
                  data-bs-content="It is used to share profile."
                  ><span class="overview-actions-btn">Share Profile</span></a
                >
              </div>
              <div class="overview-actions-item">
                <img src="images/download-icon.svg" alt="Download Icon" />
                <a
                  onmouseenter="gaButtons('Download Profile')"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover"
                  data-bs-placement="bottom"
                  title="Download Profile"
                  data-bs-content="It is used to download profile"
                  ><span class="overview-actions-btn">Download Profile</span></a
                >
              </div>
              <div
                class="overview-actions-item"
                style="margin-left: auto; margin-right: 0px"
              >
                <img
                  class="blue-icon"
                  src="images/arrow-forward-blue.svg"
                  alt="Move To Icon"
                /><a
                  onmouseenter="gaButtons('Move To')"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover"
                  data-bs-placement="bottom"
                  title="Move To"
                  data-bs-content="It allows you to move the candidate from one stage to another.
              Eg. Screening to Interview"
                  ><span class="overview-actions-btn middle-btn"
                    >Move To</span
                  ></a
                ><img
                  class="expand-icon"
                  src="images/expand-icon.svg"
                  alt="Expand Icon"
                />
              </div>
            </div>
            <div
              class="accordion md-accordion"
              id="accordionCandidate"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="row mt-3 candidate-detail-container">
                <div class="lb-candidateDetails">
                  <span class="col-lg-6 p-0 candidate-detail-heading"
                    >Candidate Details</span
                  >
                  <div
                    class="col-lg-6 m-0 p-0 lb-collapse"
                    data-bs-toggle="collapse"
                    data-parent="#accordionCandidate"
                    href="#collapseCandidate"
                    aria-expanded="false"
                    aria-controls="collapseCandidate"
                    id="see-more-parent"
                  >
                    <img
                      src="images/expand-icon.svg"
                      alt="Collapse-icon"
                      class="drop-icon"
                      id="drop-img2"
                    />
                  </div>
                </div>

                <div class="col-lg-6 p-0"></div>
                <div class="row mt-3 detail__container">
                  <div class="col-lg-6 p-0 detail__left__section">
                    <%
                    profileData.candidateDetailsTopLeft.forEach(function(data) {
                    %>
                    <div class="row left__section__row">
                      <div class="col-lg-4 left__section__question">
                        <%= data.question %>
                      </div>
                      <div class="col-lg-8 left__section__answer">
                        <div>
                          <%= data.answer %> <% if(data.highlight){%>
                          <span class="overview-btn-green overview-btn">
                            <span
                              class="overview-btn-icon-green overview-btn-icon"
                              ><img src="images/check-icon-green.svg" width="5px" alt="Icon" />
                            </span>
                            
                            <span class="overview-btn-label" ></span>
                              <%= data.highlight %>
                            </span>
                          
                          </span>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <% }); %>

                    <div
                      id="collapseCandidate"
                      id="collapseCandidate"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingOne1"
                      data-parent="#accordionCandidate"
                    >
                    <%
                    profileData.candidateDetailsBottomLeft.forEach(function(data) {
                    %>
                      <div class="row left__section__row">
                        <div class="col-lg-4 left__section__question">
                        <%= data.question %>
                      </div>
                      <div class="col-lg-8 left__section__answer">
                        <div>
                          <%= data.answer %> <% if(data.highlight){%>
                          <span class="overview-btn-green overview-btn">
                            <span
                              class="overview-btn-icon-green overview-btn-icon"
                              ><img src="images/check-icon-green.svg" width="5px" alt="Icon" />
                            </span>
                            
                            <span class="overview-btn-label" ></span>
                              <%= data.highlight %>
                            </span>
                          
                          </span>
                          <% } %>
                        </div>
                      </div>
                      </div>
                      
                      <% }); %>
                    </div>
                  </div>
                  <div class="col-lg-6 p-0 detail__right__section">
                    <%
                    profileData.candidateDetailsTopRight.forEach(function(data) {
                    %>
                    <div class="row right__section__row">
                      <div class="col-lg-4 right__section__question">
                        <%= data.question %>
                      </div>
                      <div class="col-lg-8 right__section__answer">
                        <div><%= data.answer %> <% if(data.highlight){%>
                          <span class="overview-btn-green overview-btn">
                            <span
                              class="overview-btn-icon-green overview-btn-icon"
                              ><img src="images/check-icon-green.svg" width="5px" alt="Icon" />
                            </span>
                            
                            <span class="overview-btn-label" ></span>
                              <%= data.highlight %>
                            </span>
                          
                          </span>
                          <% } %></div>
                      </div>
                    </div>
                    
                    <% }); %>
                    <div
                      class="float-end lb-collapse"
                      data-bs-toggle="collapse"
                      data-parent="#accordionCandidate"
                      href="#collapseCandidate"
                      aria-expanded="false"
                      aria-controls="collapseCandidate"
                      id="see-more"
                    >
                      <a>See More</a>
                    </div>
                    <div
                      id="collapseCandidate"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingOne1"
                      data-parent="#accordionCandidate"
                    >
                    <%
                    profileData.candidateDetailsBottomRight.forEach(function(data) {
                    %>
                      <div class="row right__section__row">
                        <div class="col-lg-4 right__section__question">
                        <%= data.question %>
                      </div>
                      <div class="col-lg-8 right__section__answer">
                        <div><%= data.answer %> <% if(data.highlight){%>
                          <span class="overview-btn-green overview-btn">
                            <span
                              class="overview-btn-icon-green overview-btn-icon"
                              ><img src="images/check-icon-green.svg" width="5px" alt="Icon" />
                            </span>
                            
                            <span class="overview-btn-label" ></span>
                              <%= data.highlight %>
                            </span>
                          
                          </span>
                          <% } %> </div>
                      </div>
                      </div>
                      
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Candidate Review-->
          <div class="row overview-review" id="keyskills">
            <div class="col-lg-6 m-0 p-0 overview-rating">
              <span class="keyskill-heading">Key Skills Strength</span>
              <div class="overview-rating-stars">
                <img
                  class="expand-icon"
                  src="images/star-icon-new.svg"
                  alt="star-icon"
                />
                <img
                  class="expand-icon"
                  src="images/star-icon-new.svg"
                  alt="star-icon"
                />
                <img
                  class="expand-icon"
                  src="images/star-icon-new.svg"
                  alt="star-icon"
                />
                <img
                  class="expand-icon"
                  src="images/star-icon-new.svg"
                  alt="star-icon"
                />
                <img
                  class="expand-icon"
                  src="images/star-border-icon.svg"
                  alt="star-icon"
                />
              </div>
            </div>
            <div class="overview-review-message">
              <span>(based on resume)</span>
            </div>
            <div class="row m-0 mt-4 p-0 overview-review-skills">
              <div class="col-lg-4 m-0 p-0 review-skills-strong">
                <span class="skills-heading-strong">Strong Skills Match</span>
                <div class="skills mt-3">
                  <%
                    profileData.keySkillsStrong.forEach(function(data) {
                    %>
                    <span class="skill"> <%= data.skill %> </span>
                    <% }); %>
                  
                </div>
              </div>
              <div class="col-lg-4 m-0 p-0 review-skills-weak">
                <span class="skills-heading-weak">Weak Skills Match</span>
                <div class="skills mt-3">
                  <%
                    profileData.keySkillsWeak.forEach(function(data) {
                    %>
                    <span class="skill"> <%= data.skill %> </span>
                    <% }); %>
                  
                </div>
              </div>
              <div class="col-lg-4 m-0 p-0 review-skills-no">
                <span class="skills-heading-no">No Skills Match</span>
                <div class="skills mt-3">
                  <%
                    profileData.keySkillsNotMatch.forEach(function(data) {
                    %>
                    <span class="skill"> <%= data.skill %> </span>
                    <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- use  class strong good less no for colors-->
        <!--Litmus Heatmap-->
        <div class="row litmus-heatmap" id="heatmap-id">
          <div class="row heatmap-header">
            <div class="col-lg-6 p-0">
              <span class="litmus-heatmap-header">Litmus Heatmap</span>
            </div>
            <div class="col-lg-6">
              <div class="row heatmap-expertise">
                <div class="col-lg-3">
                  <span class="expertise">
                    <span class="expertise-btn--strong">&nbsp;</span>
                    Strong Expertise
                  </span>
                </div>
                <div class="col-lg-3">
                  <span class="expertise">
                    <span class="expertise-btn--good">&nbsp;</span>
                    Good Expertise
                  </span>
                </div>
                <div class="col-lg-3">
                  <span class="expertise">
                    <span class="expertise-btn--less">&nbsp;</span>
                    Less Expertise
                  </span>
                </div>
                <div class="col-lg-3">
                  <span class="expertise">
                    <span class="expertise-btn--no">&nbsp;</span>
                    No Expertise
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-0 heatmap-columns">
            <div class="heatmap-columns--categories">
              <span class="heatmap-column-header--text">SECTION</span>
            </div>
            <div class="heatmap-columns--skills">
              <span class="heatmap-column-header--text">AREA</span>
            </div>
          </div>
          <%
                    profileData.heatmap.forEach(function(data) {
                    %>
          <div class="row m-0 heatmap-columns" <% if(data.id){%> id="jsrow" <%}%>>
            <div class="heatmap-columns--categories">
              <span class="heatmap-header-column--block"> <%= data.Section %> </span>
            </div>
            <div class="heatmap-columns--skills">
              <%
                    data.SectionDetails.forEach(function(detailsData) {
                    %>
              <span
                class="lbtooltip heatmap-header-column--blocks <%= detailsData.tileColor %>"
                onmouseenter="gaHeatmap('<%= data.Section %>','<%= detailsData.title %>')"
                data-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="bottom"
                title="<div class='lbtooltip-section'>
                  
                  <div class='lbtooptip-header'>
                    <h6><%= data.Section %></h6>
                    <span><span class='lbtooltip-dot'>●</span> Candidate Response</span>
                  </div>
                  <span class='lbtooltip-question'
                    ><%= detailsData.question %></span
                  >
                  <div class='col-lg-12 m-0 p-0 review-skills-strong'>
                    <div class='skills mt-3'>
                      <%
                    detailsData.options.forEach(function(optionData) {
                    %>
                    
                      <span class='skill <% if(optionData.selected){%> selected<%}%>'><%= optionData.option %></span>
                      
                      
                    <% }); %>
                    </div>
                  </div>
                </div>"
              >
              <%= detailsData.title %>
              </span>
              <% }); %>
            </div>
          </div>
          <% }); %>
        </div>

        <!--Questions-->
        <div
          class="accordion md-accordion"
          id="accordionEx"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="row Questions" id="screening-id">
            <div class="Questions-heading">
              <div
                class="row m-0 question-categories"
                data-bs-toggle="collapse"
                data-parent="#accordionEx"
                href="#collapseOne1"
                aria-expanded="true"
                aria-controls="collapseOne1"
              >
                <div class="col-lg-6 m-0 screening-questions">
                  <span>Job Screening Questions (<%= profileData.jobScreeningQuestionsCount%>)</span>
                </div>
                <div class="col-lg-6 m-0 p-0 lb-collapse" id="collapse-id">
                  <img
                    src="images/expand-icon.svg"
                    alt="Collapse-icon"
                    class="drop-icon"
                    id="drop-img"
                  />
                </div>
              </div>

              <div></div>
            </div>

            <div
              id="collapseOne1"
              class="collapse"
              role="tabpanel"
              aria-labelledby="headingOne1"
              data-parent="#accordionEx"
            >
           
              <div class="row column-definitions">
                <div class="col-lg-7 p-0 column-question">
                  <span class="column-question-heading">Questions</span>
                </div>
                <div class="col-lg-5 p-0 column-answer">
                  <span class="column-answer-heading">Answers</span>
                </div>
              </div>
              
              <%
                    profileData.jobScreeningQuestions.forEach(function(data) {
                    %>
              <div class="row column-definitions">
                <span class="col-lg-7 questions">
                  <%= data.question %>
                </span>
                <span class="col-lg-5 answers"> <%= data.answer %> </span>
              </div>
              <% }); %>
              
            </div>
          </div>
        </div>

        <!--Candidate History-->
        <div class="row Candidate-History" id="interaction-id">
          <div class="candidate-history-heading">
            <div class="row m-0 history-categories">
              <div class="col-lg-3 m-0 p-0 candidate-history-interaction">
                <span>Candidate Interaction History</span>
              </div>
              <!-- <div class="col-lg-3 m-0 p-0 candidate-history-questions">
                <span>Recruiter Comments</span>
              </div> -->
            </div>
          </div>
          <div class="row candidate-history-column-definitions">
            <div class="col-lg-7">
              <div class="row">
                <span class="col-lg-2">JOB ID</span>
                <span class="col-lg-5">JOB CONSIDERED FOR</span>
                <span class="col-lg-3">SOURCED DATE</span>
                <span class="col-lg-2">LAST STAGE</span>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="row">
                <span class="col-lg-2">STATUS</span>
                <span class="col-lg-6">HIRING MANAGER</span>
                <span class="col-lg-4">RECRUITER</span>
              </div>
            </div>
          </div>
          <%
                    profileData.interactionHistory.forEach(function(data) {
                    %>
          <div class="row candidate-history-columns--<%= data.color %>">
            <div class="col-lg-7">
              <div class="row">
                <span class="col-lg-2"><%= data.jobID %></span>
                <span class="col-lg-5"><%= data.jobTitle %></span>
                <span class="col-lg-3"><%= data.date %></span>
                <span class="col-lg-2"><%= data.stage %></span>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="row">
                <span class="col-lg-2" style="text-align: center">
                  <% if (data.status === "check") { %>
                    <span class="status-symbol--correct">
                    <img src="images/check-icon.svg" />
                  </span>
                <% } else { %>
                <span class="status-symbol--cross">
                    <img src="images/cross-icon.svg" />
                  </span>
                <% } %> 
                </span>
                <span class="col-lg-6"><%= data.hiringManager %></span>
                <span class="col-lg-4"><%= data.recruiter %></span>
              </div>
            </div>
          </div>
          <% }); %>
          
        </div>

        <!-- Resume Section-->
        <div class="row resume" id="resume-id">
          <div class="resume-heading">
            <div class="row">
              <div class="col-lg-6 resume-header">
                <span>Resume</span>
              </div>
              <div
                class="col-lg-6 m-0"
                style="display: flex; align-items: center"
              >
                <div class="resume-controls">
                  <span class="controls mr-2">
                    <a
                      onmouseenter="gaButtons('Download Resume')"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="bottom"
                      title="Download"
                      data-bs-content="It allows you to download candidate resume"
                      ><img src="images/download-blue.svg" alt="Download"
                    /></a>
                  </span>
                  <span class="controls">
                    <a
                      onmouseenter="gaButtons('Refresh Resume')"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover"
                      data-bs-placement="bottom"
                      title="Refresh"
                      data-bs-content="It allows you to refresh candidate resume"
                      ><img src="images/refresh-blue.svg" alt="Refresh"
                    /></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row resume-box">
            <iframe
              src="images/<%=profileData.resumeName%>.pdf#toolbar=0"
              frameborder="0"
              width="95%"
              height="961"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/5.0.0/intro.min.js"
      integrity="sha512-sjzr7wOVjpnvPO03NIXQ7ah4pK1lYr1HfVPnIZ1ZSRBHgXJHWhXL/DELFN2Nnssup1KDDfIUPTtbGlS5eRUEkg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
     <script src="js/tour.js"></script>
    <script>
      const tooltip = document.querySelectorAll(".lbtooltip");
      tooltip.forEach((t) => {
        new bootstrap.Tooltip(t, {
          container: document.querySelector("#heatmap-id"),
        });
      });

      document.addEventListener("DOMContentLoaded", function () {
        var popoverTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="popover"]')
        );
        var popoverList = popoverTriggerList.map(function (element) {
          return new bootstrap.Popover(element);
        });
      });
      $(".screening-questions").click(function () {
        $("#drop-img").toggleClass("down");
        ga("send", {
          hitType: "event",
          eventCategory: "DropDown",
          eventAction: "Clicked",
          eventLabel: "On Job Screening Question dropdown arrow",
        });
      });

      $(".drop-icon").click(function () {
        $(this).toggleClass("down");
      });
      $("#collapse-id").click(function () {
        $("#drop-img").toggleClass("down");
        ga("send", {
          hitType: "event",
          eventCategory: "DropDown",
          eventAction: "Clicked",
          eventLabel: "On Job Screening Question dropdown arrow",
        });
      });
      $("#drop-img").click(function () {
        $("#drop-img").toggleClass("down");
        ga("send", {
          hitType: "event",
          eventCategory: "DropDown",
          eventAction: "Clicked",
          eventLabel: "On Job Screening Question dropdown arrow",
        });
      });
      $("#see-more-parent").click(function () {
        $("#see-more").toggle();
        $("#drop-img2").toggleClass("down");
      });
      $("#drop-img2").click(function () {
        $("#drop-img2").toggleClass("down");
        ga("send", {
          hitType: "event",
          eventCategory: "DropDown",
          eventAction: "Clicked",
          eventLabel: "On Candidate Details dropdown arrow",
        });
      });
      $("#see-more").click(function () {
        $("#see-more").toggle();
        $("#drop-img2").toggleClass("down");
        ga("send", {
          hitType: "event",
          eventCategory: "DropDown",
          eventAction: "Clicked",
          eventLabel: "On Candidate Details see more link",
        });
      });

      function gaHeatmap(labelCat, labelValue) {
        ga("send", {
          hitType: "event",
          eventAction: "Hover",
          eventCategory: "Heatmap",
          eventLabel: labelCat + "-" + labelValue,
        });
      }
      function gaButtons(labelValue) {
        ga("send", {
          hitType: "event",
          eventAction: "Hover",
          eventCategory: "Buttons",
          eventLabel: labelValue,
        });
      }
    </script>

    <script src="js/button.js"></script>
  </body>
</html>
<!-- to remove toolbar add #toolbar=0 in src of iframe -->
